*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: antiquewhite;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}

input,
button {
  display: block;
  width: 94%;
  margin: 0.8rem;
  font-size: 1rem;
  padding: 0.4rem;
}
form {
  width: 500px;
  margin: 0 auto;
  padding: 1rem;
  border: 5px solid gray;
  background-color: wheat;
  border-radius: 10px;
}
button {
  background-color: black;
  color: white;
}
ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 1rem;
}
li {
  padding: 0.8rem 2rem;
  border: 3px dashed yellow;
  box-shadow: 0 2px 4px purple;
  background-color: rgb(2, 160, 172);
  color: white;
  font-size: 1.2rem;
  font-weight: 600px;
  width: 300px;
  margin: 1rem;
}

p,
h2 {
  margin: 1rem 0;
}
